<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Multple Images</title>
</head>
<body>
    <h1>See Multiple Images By Date</h1>
    <form action="/search/multiple" method="POST">
        <div>
            <label>Starting Date:</label>
            <input type="date" name="start_date">
        </div>
        <div>
            <label>Ending Date:</label>
            <input type="date" name="end_date">
        </div>
        <input type="submit" value="search">
    </form>
</body>
</html>